/* .container{
    display:flex;
    flex-direction: column;
    width: 90%;
    text-align: center;
} */
body{
    background-color:rgb(121, 128, 94);
    text-align:center;
}
.input{
    height:40px;
    width:200px;
    margin-top:1rem;
    margin-bottom:2rem;
    /* margin-left: 43.5%; */
    font-size:1rem ;
    border-radius: 0.5rem;
    background-color:rgb(221, 228, 196);
    padding: 0.5rem;
    text-align: center;
}
label{
    display:block;
    font-size:2rem;
    font-weight:bold;
    text-align:center;
}
.heading{
    font-size:3rem;
    font-weight:bold;
    padding:1rem;
    text-align: center;
}
.change-table{
    border-collapse:collapse;
    color:black;

    text-indent:initial;
    border-spacing:5px;
    margin:auto;
    width:25px;
    max-width:60%
}
#error-message{
    font-size:1.5rem;
    font-weight:normal;
    padding:1rem;
    text-align: center;
}
th,td{
    border:2px solid white;
    width:30px;
    border-collapse:collapse;
    padding:0.5rem;
    margin:auto;
    margin-top: 2rem;
}
.row{
    width:20px;
}
.description{
    font-size:1.5rem;
    font-weight:bold;
    padding:1rem;
    text-align: center;
}
caption{
    font-size:2rem;
    font-weight:bold;
    padding:1rem;
    text-align: center;
}
#check-button{
    padding:0.5rem;
    height: 50px;
    width:max-content;
    margin-top:6rem;
    background: black;
    border:none;
    border:0in;
    color:#fff;
    padding:0.7rem 1rem;
    border-radius: 0.5rem;
    font-size:large;
    cursor:pointer;
    outline:#fff;
    margin:auto;
    display:block;
    margin-bottom:3rem;
}
